In [2]:
# mysql connection
import mysql.connector

mydb = mysql.connector.connect(
  host="cowstudio.wayne-lee.cn",
  user="cowstudio",
  password="cowstudio_2119",
  database="cowstudio"
)

In [3]:
# get spark session, 2g mem per executor
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import os

# set python env
os.environ['PYSPARK_PYTHON'] = "/opt/conda3/envs/lab2/bin/python"
spark = SparkSession.builder \
    .appName("item_tfidf") \
    .master("spark://node01:10077") \
    .enableHiveSupport()\
    .config("spark.driver.memory", "2g") \
    .config("spark.executor.memory", "2g") \
    .config("spark.cores.max", "3") \
    .config("spark.sql.shuffle.partitions", "12") \
    .config("spark.sql.autoBroadcastJoinThreshold", "-1") \
    .getOrCreate()

sc = spark.sparkContext

23/04/22 08:23:52 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/22 08:23:53 WARN spark.SparkContext: Please ensure that the number of slots available on your executors is limited by the number of cores to task cpus and not another custom resource. If cores is not the limiting resource then dynamic allocation will not work properly!

In [4]:
# import jieba and set stop word set
import jieba
import jieba.analyse

stop_words_rdd = sc.textFile("hdfs:///user/spark_temp/stopwords.dat")
stop_words_set = set(stop_words_rdd.collect())

In [5]:
# define map functions 
from datetime import datetime

date_string = datetime.today().strftime('%Y-%m-%d')
# cut item name and description
def cut_name_and_desc(item):
    id, name, desc = item
    name_cut = set(jieba.cut(name))
    name_cut_pure = set(jieba.cut(name)) - stop_words_set
    desc_cut = set(jieba.cut(desc))
    desc_cut_pure = set(jieba.cut(desc)) - stop_words_set
    return (id,name_cut,name_cut_pure,desc_cut,desc_cut_pure)

# map item's cut list to word count
def to_count(item):
    id,name_cut,name_cut_pure,desc_cut,desc_cut_pure = item
    for i in name_cut_pure:
        yield ((id, i),1)
    for i in desc_cut_pure:
        yield ((id,i),1)
        
# trnasfer (id, key), count to id,key,count, date
def split_key_set_date(item):
    key1,count = item
    id,key = key1
    date = date_string
    return id,key,count,date

In [6]:
# get all item data from db, set result to an RDD
cur = mydb.cursor()
cur.execute("SELECT id,name,description from items order by RAND() ")
result = cur.fetchall()
all_items = sc.parallelize(result)
print(all_items.count())

433

In [7]:
all_items = spark.sql("select id,name,description from item_ods").rdd
print(all_items.count())

433

In [8]:
# cut item's name and description
cut_items = all_items.map(cut_name_and_desc)
print(all_items.count())

433

In [9]:
# do word count
item_word_count = cut_items.flatMap(to_count)\
                    .reduceByKey(lambda a,b:a+b)\
                    .map(split_key_set_date)
print(item_word_count.count())

4638

In [10]:
# create a table for wordcount
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
schema = StructType([
    StructField("item_id", IntegerType(), True),
    StructField("key_word", StringType(), True),
    StructField("word_count", IntegerType(), True),
    StructField("date", StringType(),True)
])
item_word_count = spark.createDataFrame(item_word_count, schema)
item_word_count.createOrReplaceTempView("item_word_count")
item_word_count.show()

+-------+--------+----------+----------+
|item_id|key_word|word_count|      date|
+-------+--------+----------+----------+
|    227|    牛用|         1|2023-04-22|
|    227|    饲养|         1|2023-04-22|
|    227|      牛|         1|2023-04-22|
|    227|多种营养|         1|2023-04-22|
|    227|    产地|         1|2023-04-22|
|    227|    物质|         1|2023-04-22|
|    227|    富含|         1|2023-04-22|
|    227|    日常|         1|2023-04-22|
|    228|    清凉|         1|2023-04-22|
|    228|  驱虫剂|         1|2023-04-22|
|    228|    驱虫|         1|2023-04-22|
|    228|    降温|         1|2023-04-22|
|    228|    蚊虫|         1|2023-04-22|
|    228|    叮咬|         1|2023-04-22|
|    228|    用于|         1|2023-04-22|
|    229|  止咳药|         1|2023-04-22|
|    229|    咳喘|         1|2023-04-22|
|    229|    牛用|         1|2023-04-22|
|    229|    咳嗽|         1|2023-04-22|
|    229|      牛|         1|2023-04-22|
+-------+--------+----------+----------+
only showing top 20 rows

In [11]:
# 将DataFrame写入Hive
item_word_count.write.mode("overwrite").partitionBy("date").saveAsTable("item_word_count")
spark.sql("show tables").show()

23/04/22 08:24:35 WARN session.SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.

+--------+---------------+-----------+
|database|      tableName|isTemporary|
+--------+---------------+-----------+
| default|      event_ods|      false|
| default|item_fresh_list|      false|
| default|  item_hot_list|      false|
| default|       item_ods|      false|
| default|     item_order|      false|
| default|     item_score|      false|
| default|   item_tag_ods|      false|
| default|item_word_count|      false|
| default|  item_word_idf|      false|
| default|   item_word_tf|      false|
| default|item_word_tfidf|      false|
| default|        tag_ods|      false|
| default|           test|      false|
| default|          test2|      false|
| default|       user_ods|      false|
| default|   user_tag_ods|      false|
|        |item_word_count|       true|
+--------+---------------+-----------+

In [12]:
# compute IDF
item_word_idf = spark.sql('''
select
    key_word,
    count(distinct item_id) as item_num_has_word,
    max(a.item_num) as item_num_all,
    log10(max(a.item_num)/ count(distinct item_id)) as idf,
    max(date) as date
from
    item_word_count,(
        select
            count(distinct item_id) as item_num
        from
            item_word_count
    ) as a
group by
    key_word
order by
    idf desc
''')
item_word_idf.createOrReplaceTempView("item_word_idf")
item_word_idf.show()
item_word_idf.write.mode("overwrite").partitionBy("date").saveAsTable("item_word_idf")
spark.sql("show tables").show()

+--------+-----------------+------------+------------------+----------+
|key_word|item_num_has_word|item_num_all|               idf|      date|
+--------+-----------------+------------+------------------+----------+
|      想|                1|         433|2.6364878963533656|2023-04-22|
|    现象|                1|         433|2.6364878963533656|2023-04-22|
|      手|                1|         433|2.6364878963533656|2023-04-22|
|    建议|                1|         433|2.6364878963533656|2023-04-22|
|    方法|                1|         433|2.6364878963533656|2023-04-22|
|    值班|                1|         433|2.6364878963533656|2023-04-22|
|    旅游|                1|         433|2.6364878963533656|2023-04-22|
|    农庄|                1|         433|2.6364878963533656|2023-04-22|
|    旅途|                1|         433|2.6364878963533656|2023-04-22|
|    各类|                1|         433|2.6364878963533656|2023-04-22|
|      时|                1|         433|2.6364878963533656|2023-04-22|
|      器|                1|         433|2.6364878963533656|2023-04-22|
|    时令|                1|         433|2.6364878963533656|2023-04-22|
|      土|                1|         433|2.6364878963533656|2023-04-22|
|    期限|                1|         433|2.6364878963533656|2023-04-22|
|    外表|                1|         433|2.6364878963533656|2023-04-22|
|    板筋|                1|         433|2.6364878963533656|2023-04-22|
|    奶源|                1|         433|2.6364878963533656|2023-04-22|
|  河南省|                1|         433|2.6364878963533656|2023-04-22|
|    安康|                1|         433|2.6364878963533656|2023-04-22|
+--------+-----------------+------------+------------------+----------+
only showing top 20 rows

+--------+---------------+-----------+
|database|      tableName|isTemporary|
+--------+---------------+-----------+
| default|      event_ods|      false|
| default|item_fresh_list|      false|
| default|  item_hot_list|      false|
| default|       item_ods|      false|
| default|     item_order|      false|
| default|     item_score|      false|
| default|   item_tag_ods|      false|
| default|item_word_count|      false|
| default|  item_word_idf|      false|
| default|   item_word_tf|      false|
| default|item_word_tfidf|      false|
| default|        tag_ods|      false|
| default|           test|      false|
| default|          test2|      false|
| default|       user_ods|      false|
| default|   user_tag_ods|      false|
|        |item_word_count|       true|
|        |  item_word_idf|       true|
+--------+---------------+-----------+

In [ ]:
# compute TF
item_word_tf = spark.sql(f'''
with item_word_total_num as(
    select
        item_id,
        sum(word_count) as word_total
    from
        item_word_count
    group by
        item_id
), item_all as(
    select
        distinct id as item_id
    from
        item_ods
), word_all as(
    select
        distinct key_word
    from
        item_word_count
), item_word_all as(
    select
        item_id,
        key_word
    from
        item_all,
        word_all
)
select 
    a.item_id,
    a.key_word,
    if(b.item_id is null or c.word_count is null or b.item_id = 0, 0, c.word_count/b.word_total) as tf,
    '{date_string}' as date
from
    item_word_all a
left join
    item_word_total_num b on a.item_id = b.item_id
left join
    item_word_count c on a.item_id = c.item_id and a.key_word = c.key_word
order by
    tf desc
''')
item_word_tf.createOrReplaceGlobalTempView("item_word_tf")
item_word_tf.write.mode("overwrite").partitionBy("date").saveAsTable("item_word_tf")
spark.sql("show tables").show()

In [ ]:
# compute tf-idf
item_word_tfidf = spark.sql('''
select 
    tf.item_id,
    tf.key_word,
    tf.tf * idf.idf as tfidf,
    tf.date
from
    item_word_tf as tf
left join
    item_word_idf as idf on idf.key_word = tf.key_word
order by
    tfidf desc
''')
item_word_tfidf.createOrReplaceGlobalTempView("item_word_tfidf")
item_word_tfidf.show()
item_word_tfidf.write.mode("overwrite").saveAsTable("item_word_tfidf")
spark.sql("show tables").show()

In [ ]:
# close spark session
spark.stop()
mydb.close()